{{ $number := int . }}

{{ $formatted := "" }}

{{ if lt $number 1000 }}
  {{ $formatted = $number }}
{{ else if lt $number 1000000 }}
  {{ $k := div (float $number) 1000.0 }}
  {{ $formatted = printf "%.1fK" $k }}
  {{ if eq (mod $number 1000) 0 }}
    {{ $formatted = printf "%.0fK" $k }}
  {{ end }}
{{ else if lt $number 1000000000 }}
  {{ $m := div (float $number) 1000000.0 }}
  {{ $formatted = printf "%.1fM" $m }}
  {{ if eq (mod $number 1000000) 0 }}
    {{ $formatted = printf "%.0fM" $m }}
  {{ end }}
{{ else }}
  {{ $b := div (float $number) 1000000000.0 }}
  {{ $formatted = printf "%.1fB" $b }}
  {{ if eq (mod $number 1000000000) 0 }}
    {{ $formatted = printf "%.0fB" $b }}
  {{ end }}
{{ end }}

{{ return $formatted }} 